body {
    background-image: url('photos/background.png');
    background-size: cover;      /* make it fill the screen */
    background-repeat: no-repeat; /* prevent tiling */
    
}
html, body {
    height: 100%;
    margin: 0;                 /* remove default gap */
    overflow: hidden; /* hides scrollbars */
  }

  @media (orientation: portrait) {
    body {
      background-position: top center; /* crop focuses on top in portrait */
    }
  }
.taskbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: blue;
}
.portFolderIcon{
    height:10%;
    position: relative;
    top:20;
}
.portraitFolder{
    background-color: aqua;
    padding: 10px;
    width: 80px;
    position: relative;
    left: 20%;
    top: 20%;
    font-size: 120%;
}
.openPortraitFolder{
    display: none;
    background-image: url('photos/openFolder.png');
    width:600px;
    height: 425px;
    background-size: cover;
    position: relative;
    left: 30%;
}
.wizardPhoto{
    height:65%;
    position: relative;
    left:45%;
    top:25%
}

